@import url("https://fonts.googleapis.com/css2?family=Outfit:wght@100..900&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Outfit", sans-serif;
}
body {
  width: 100%;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  background: #d5e1ef;
}
main {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  max-width: 320px;
  width: 100%;
  min-height: 499px;
  height: auto;
  background: #ffffff;
  padding: 16px 16px 40px 16px;
  border-radius: 20px;
  gap: 24px;
}
main img {
  width: 288px;
  height: 288px;
  border-radius: 10px;
}

main h1 {
  text-align: center;
  color: #1f314f;
  font-size: 22px;
  font-weight: 700;
}

main p {
  text-align: center;
  font-size: 15px;
  font-weight: 400;
  letter-spacing: 0.2px;
  color: #68778d;
}

.attribution {
  margin-top: 50px;
  font-size: 11px;
  text-align: center;
}
.attribution a {
  color: hsl(228, 45%, 44%);
}
